@media only screen and (max-width:640px){
.post-body img{max-width:220px}h1{font-size:150%}
h2.post-title,h1.post-title,h2.post-title a,h1.post-title a,h2.post-title,h1.post-title{font-size:130%;text-align:center}
}
@media only screen and (max-width:480px){
.post-body img{max-width:220px}h1{font-size:120%}
h2.post-title,h1.post-title,h2.post-title a,h1.post-title a,h2.post-title,h1.post-title{font-size:120%;text-align:center}
}
@media only screen and (max-width:320px){
.post-body img{max-width:220px}h1{font-size:110%}
h2.post-title,h1.post-title,h2.post-title a,h1.post-title a,h2.post-title,h1.post-title{font-size:110%;text-align:center}
}
COMMENT
---------------------------------*/
#comments h3 { border-left: 0; padding-left: 0; color: #CB2027; margin: 0; font-weight: 300; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 5px 0; font-size: 20px }
#comments { margin: 0; padding-top: 10px }
#comment_block { margin: 20px 0; display: block }
.comment_avatar { background: url(https://lh4.googleusercontent.com/-ROLNKhgoFCw/AAAAAAAAAAI/AAAAAAAAAAA/Ycbynv2hi_k/s32-c-mo/photo.jpg)no-repeat; -webkit-background-size: 45px; -moz-background-size: 45px; -o-background-size: 45px; background-size: 45px; height: 45px; width: 45px; float: left; margin-right: 10px; overflow: hidden }
.comment_avatar img { height: 45px; width: 45px }
a.comment-delete { background: #fff; padding: 2px 10px; color: #000; border: 1px solid #DDDDDD;font-size: 12px; margin-right: 5px }
a.comment_reply { background: #fff; padding: 2px 10px; color: #000; border: 1px solid #DDDDDD;font-size: 12px; margin-right: 5px }
.comment_child { margin: 8px 0 8px 30px }
.comment_body { margin: 5px 0 ;width:100%;float: left;}
.comment_body p { margin: 0; line-height: 22px }
.comment_sett { padding: 10px 0 0; display: block }
.comment_name { float: left;font-size: 15px; padding-bottom: 3px }
.comment_service {float: left;margin-left: 10px;font-size: 15px }
.comment_body img { max-width: 90% }
.comment_cincong { background: #F7F7F7; padding: 8px; border: 1px solid #ddd; overflow: hidden; margin-bottom: 15px }
#sopiler { background: #AFEAB9; padding: 8px; border: 1px solid #1EAD35; margin: 0; margin-top: 3px; text-align: center }
#sopiler-click { background: #55C864; border-bottom: 2px solid #1EAD35; padding: 5px 10px; color: #fff }
#sopiler-click:hover { background: #3FB64E }
#sopiler img { max-width: 90%; display: block; margin: 0 auto; border: 1px solid #333 }
